* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f8;
    color: #333;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #111;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    text-align: center;
    padding: 120px 20px;
    background: radial-gradient(circle at top, #0f3d2e, #020d08);
    color: #00ff9c;
    position: relative;
    overflow: hidden;
}
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
        repeating-linear-gradient(
            0deg,
            rgba(0, 255, 156, 0.08),
            rgba(0, 255, 156, 0.08) 1px,
            transparent 1px,
            transparent 3px
        );
    opacity: 0.25;
    pointer-events: none;
}
.hero {
    text-align: center;
    padding: 120px 20px;
    background: radial-gradient(circle at top, #0f3d2e, #020d08);
    color: #00ff9c;
    position: relative;
    overflow: hidden;
}

/* hacked screen effect */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
        repeating-linear-gradient(
            0deg,
            rgba(0, 255, 156, 0.08),
            rgba(0, 255, 156, 0.08) 1px,
            transparent 1px,
            transparent 3px
        );
    opacity: 0.25;
    pointer-events: none;
}

/* hacker text glow (THIS IS THE 3rd ONE) */
.hero h1 {
    font-size: 3rem;
    text-shadow: 0 0 8px #00ff9c;
}

.hero h3 {
    color: #9effd3;
}

.hero p {
    color: #b8ffe4;
}


.hero .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #00bcd4;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

/* Sections */
section {
    padding: 60px 40px;
    text-align: center;
}

.skill-box span {
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    background: #222;
    color: white;
    border-radius: 20px;
}

/* Projects */
.project-card {
    background: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 700px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Footer */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
